.pi {
  width: 85%;
  margin: 0 auto;
}

.products {
  padding: 7em 0;

  display: flex;
  justify-content: space-between;
}

.flexible {
  width: 100%;
  height: 100%;
}

.speaker {
  background-image: url("../Assets/img/Speakerhero.png");
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.introbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13em 0;
}
.textbox {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  padding-right: 10em;
  justify-content: space-between;
}

.blank {
  width: 45%;
  height: 100%;
}

.speakerHero {
  background-image: url("../Assets/img/speakerheroimg.png");
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5em;
}

.text2 {
  padding: 5em 5em;
  display: flex;
  flex-direction: column;
  height: 260px;
  justify-content: space-between;
}
.Earphone {
  border-radius: 15px;
  width: 100%;
  margin-top: 5em;
}

.best {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.textbox3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 680px;
  justify-content: space-between;
}

.footer {
  width: 85%;
  margin: 0 auto;

  margin-top: 5em;
}
